# escludiamo il caricamento della cartella pycache sulla repository
__pycache__
**/__pycache__

# escludiamo i file di compilazione di latex 
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.toc
**/*.gz

# escludiamo i file che genera macos
**/.DS_Store

